<div class="navigation">
    <ul class="list-navigation">
        <li *ngFor="let navigation of navigations"  [ngClass]="{Active: dropdown?.name === navigation?.name}" (click)="setDropdown(navigation)">
            <a *ngIf="navigation?.name != 'home' && navigation?.name != 'search'" [class.dropdown-button]="navigation.haveScdNav" routerLink="{{navigation.link && navigation.link}}">
                {{navigation.name | uppercase}}
                <span class="dropdown-icon" ><mat-icon *ngIf="navigation.secondNavigation">expand_less</mat-icon></span>
            </a>
            <a routerLink="{{navigation.link}}">
                <mat-icon *ngIf="navigation?.name == 'home' || navigation?.name == 'search'"aria-hidden="false" aria-label="Example home icon">{{navigation.name}}</mat-icon>
            </a>
        </li>
    </ul>
    <div class="newsByTime">
        <ul>
            <li>
                <p class="time">16:22</p>
                <a href="#">Démission du chef des opérations d’Easyjet</a>
            </li>
            <li>
                <p class="time">16:04</p>
                <a href="#"> El Haïry redevient secrétaire d’Etat à la jeunesse </a>
            </li>
            <li>
                <p class="time">16:00</p>
                <a href="#"> Covid-19 : confinement dans l’est de la Chine </a>
            </li>
            <li>
                <p class="time">15:28</p>
                <a href="#"> Finances publiques : la Cour des comptes alerte </a>
            </li>
            <li>
                <p class="time">14:33</p>
                <a href="#"> Finances publiques : la Cour des comptes alerte </a>
            </li>
            <li class="voirPlus">
                <a href="#">Voir plus ></a>
            </li>
        </ul>
    </div>
</div>
<app-dropdown-nav [dropdown]="dropdown" (disableActive) ="onCloseDropdown()" [articles]="articles"></app-dropdown-nav>