.switch-language{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .separate-language-switch{
        height: 17px;
        margin:0.5rem;
        border-right: 1px solid #bdc1c8;
    }
    a{
        color:#2a303b;
        text-decoration: none;
    }
    .language{
        color: #bdc1c8;
    }
    .language:hover{
        color:#2a303b;
    }
}

.logo-of-company{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    width: 1024px;
    .read-classic-newsPaper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img{
            height: 5rem;
            width: 6rem;
            padding-bottom: 0;
        }
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    img{
        padding-bottom: 1rem;
        width: 20rem;
        cursor: pointer;
    }
    .SubscribeOrConnect{
        .subscribe{
            background-color: #ffc700;
            padding: 8px 16px;
            border-radius: 5px;
            text-decoration: none;
            color:#2a303b;
        }
        .subscribe:hover{
            background-color:#eab002;
        }
        .connect{
            padding: 8px 16px;
            text-decoration: none;
            color:#2a303b;
            display: inline-block;
            position: relative;
            img{
                width: 23px;
                padding: 0;
                position: absolute;
                bottom: 7px;
                left: -8px;
            }
            span:nth-child(2){
                border-right: 1px solid #d5d8dc;
                padding-right: 10px;
            }
        }
        .connect:hover{
                text-decoration: underline;
        }
    }
}

@media screen and (max-width: 572px){
    .connect span:nth-child(2){
        display: none;
    }
    .connect span:nth-child(1){
                border-right: 1px solid #d5d8dc;
                position: absolute;
                bottom: -9px;
                left: -8px;
    }
}

@media screen and (max-width: 1024px){
    .logo-of-company{
        width: 100%;
        justify-content:space-between;
    }
    .logo-of-company img{
        width: 6rem;
        margin: 2% 0;
        padding: 2% 1%;
    }

    .SubscribeOrConnect{
        padding: 0 1%;
    }
    .switch-language, .logo-of-company .read-classic-newsPaper{
        display: none;
    }
}