<div class="switch-language">
    <a href="#" class="language-inUse">Français</a>
    <div class="separate-language-switch"></div>
    <a href="#" class="language">Anglais</a>
</div>

<div class="logo-of-company">
    <div class="read-classic-newsPaper">
        
        <img [src]="journalLogo" [alt]="journalAlt"/>
        <a href="/">Consulter<br> le journal</a>
        
    </div>
    <img [src]="imageSrc" [alt]="imageAlt"/>
    <div class="SubscribeOrConnect">
        <a class="connect" href="#">
            <span><img [src]="connectionSrc" [alt]="connectionAlt"/></span>
            <span>Se connecter</span>
        </a>
        <a class="subscribe" href="#">S'abonner</a>
    </div>
</div>
