<div class="home-article">
    <section class="main-section">
        <app-main-article class="main-article-container"></app-main-article>
        <app-headline-article class="headline-article-container"></app-headline-article>
        <app-runner-article class="runner-article-container"></app-runner-article>
        <app-river-article class="river-article-container"></app-river-article>
    </section>
    <section class="second-section">
        <app-featured-article></app-featured-article>
    </section>
</div>