<div *ngIf="dropdown" class="close-dropdown"  (click)="closeDropdown()"></div>

<div class='dropdown' *ngIf="dropdown" >
    <div class="container" *ngIf="dropdown.name == 'actualités' || dropdown.name == 'services'">
        <div class="section {{dropdown?.name}}" *ngFor="let elements of dropdown.secondNavigation">
            <h3>{{elements.name | uppercase}}</h3>
            <ul class="{{elements.name}}">
                <li *ngFor="let nav of elements.nav">
                    <a href="{{nav.link}}">{{nav.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container {{dropdown.name}}" *ngIf="dropdown.name != 'actualités' || dropdown.name != 'services'">
        <ul *ngFor="let elements of dropdown.secondNavigation">
            <li *ngFor="let element of elements"><a href="{{element.link}}"><span>{{element.name}}</span><span>></span></a></li>
        </ul>
        <ul class="some-article-nav" *ngIf="articles">
            <li *ngFor="let article of articles"><a href="#"><div class="img"></div><p class="categorie">{{article.categorie | uppercase}}</p><p><span class='lemondelogo'><img [src]= "logoarticle" alt="logo"></span> {{article.title}}</p></a></li>
        </ul>
    </div>
</div>