.dropdown{
    position : absolute;
    width: 100%;
    height: 100vh;
    background-color: #f5f6f8;
    color: black;
    .container{
        width: 98%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .section.services{
            width: 45%;
        }
        .actualités.section:nth-child(1){
            display:none;
        }
        .section{
            display: inline-block;
            h3{
                display: inline-block;
            }
            ul{
                text-align: left;
                display:flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;
                height: 50%;
                width: 537px;
                list-style: none;
                border-top: 1px solid #e2e4e9;
            }
            .Suppléments.partenaires{
                flex-direction: column;
            }
            .En.ce.moment{
               width: 100%;//323px
               display: flex;
               flex-direction: row;
               border-top: none;
               
               li{
                width: initial;
                padding: 5px 15px;
                margin: 0px 10px 10px 0px;
                border-radius: 3px;
                line-height: 1rem;
                font-size: 1rem;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgba(128, 128, 128, 0.479);
               }
               li:hover{
                background-color: #026b9c;
                border: 1px solid #026b9c;
                a{
                    color:white;
                }
               }
            }
            .Actualités{
                width: 100%;//810px
                justify-content: space-between;
                border-top: none;
                li{
                    border-top: 1px solid #e2e4e9;
                    width: 45%;
                    line-height: 2.5rem;
                    font-size:1.2rem;
                }
            }
            li{
                width: 50%;
                line-height: 2.2rem;
                font-size:1.1rem;
                a:hover{
                        color: #026b9c;
                }
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .économie, .vidéos, .débats, .culture, .m.le.mag{
        ul{
            width: 98%;
            margin: 0 auto;
            padding:0;
            list-style:none;
        }
        li{
            border-top: 1px solid#e2e4e9;
            line-height: 2.9rem;
            font-size: 1.2rem;
            min-width: 70%;
        }
        li:hover a {
            color: #026b9c;
        }
        li:nth-child(1){
            border-top: none;
        }
        a{
            text-decoration: none;
            color: black;
            display: flex;
            justify-content: space-between;
            span:nth-child(2){
                color:#e2e4e9 ;
            }
        }
        .some-article-nav{
            padding:0;
            display: none;
            width: 75%;
            min-height: 260px;
            li{
                border: none;
                padding: 0 3%;
                display: flex;
                flex-direction: column;
                min-width: 20%;
            }
            div{
                height: 90%;
                background-color: gray;
                margin-right: auto;
                margin-left: auto;
            }
            .lemondelogo{
                height: 5px;
                width: 10px;
                vertical-align: sub;
            }
            a{
                line-height: normal;
                display: block;
                font-size: 0.9rem;
                
            }
            li:hover p{
                color: black;
                text-decoration: underline;
            }
            li:hover .categorie{
                text-decoration: unset;
            }
        }
    }
}
.close-dropdown{
    background-color: rgba(0, 0, 0, 0.548);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 80%;
}

@media screen and (min-width: 576px) {
    .dropdown{
        height: auto;
        .container{
            .actualités.section:nth-child(1){
                display:block;
            }
        }
        .économie, .vidéos, .débats, .culture, .m.le.mag{
            ul{
                width: 30%;
            }
            .some-article-nav{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                li{
                    width:30%;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .dropdown{
        .container{
            .actualités.section:nth-child(1){
                width: 25%;
            }
            .actualités.section:nth-child(2){
                width: 70%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .dropdown{
        .container{
            width: 1024px;
            flex-wrap: wrap;
            .actualités.section:nth-child(1){
                width: 30%;
            }
            .actualités.section:nth-child(2){
                width: 65%;
            }
            .section{
                .En.ce.moment{
                    width: 312px;
                }
                .Actualités{
                    width: 711px;
                    li{
                        width: 30%!important;
                    }
                }
            }
        }
        .économie, .vidéos, .débats, .culture, .m.le.mag{
            ul{
                width: 20%;
            }
            .some-article-nav{
                flex-wrap: nowrap;
                justify-content: space-between;
                li{
                    width: 20%!important;
                }
            }
        }
    }
}