.picture{
    width:200px;
    height: 75px;
    background-color: #d5d8dc;
}

h4{
    margin-top: 0;
}

.article{
    width: 100%;
    padding-top: 2%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #d5d8dc;
}

.article:nth-child(1), .article:nth-child(2){
    border-top: none;
}

@media screen and (min-width: 576px){
    .article{
        width: 80%;
    }

}
@media screen and (min-width: 768px){
    .article{
        width: 664px;
    }

}
@media screen and (min-width: 1024px){
    .article{
        width: 45%;
    }

    .picture{
        width:314px;
        height: 75px;
    }
}